
<div id="tab_content">
<table cellspacing="0" border="0" width="98%">
	<colgroup width="145"></colgroup>
	<colgroup width="220"></colgroup>
	<colgroup width="205"></colgroup>
	<colgroup width="126"></colgroup>
	<colgroup width="89"></colgroup>
	<colgroup width="154"></colgroup>
	<colgroup width="128"></colgroup>
	<colgroup width="141"></colgroup>
	<colgroup span="2" width="75"></colgroup>
	<tr>
		<td rowspan=16 ></td>
		<td colspan=7 height="50" align="center" valign=middle><b><font size=5>河南油田社会保险征集通知单</font></b></td>
		<td align="left"><br></td>
		<td align="left"><br></td>
	</tr>
	<tr>
		<td colspan=2 height="26" align="left" >单位:局社会保险中心</td>
		<td align="left" valign=middle><br></td>
		<td align="left" valign=middle><br></td>
		<td align="left" valign=middle><br></td>
		
		<td colspan=2 align="right" valign=middle>单位:元</td>
		<td align="left" valign=middle><br></td>
		<td align="left" valign=middle><br></td>
		
	</tr>
	<tr>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" height="28" align="center" valign=middle><b>单位编号</b></td>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" colspan=3 align="center" valign=middle><b><%= my $dwbm %></b></td>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" align="center" valign=middle><b>单位名称</b></td>
		<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=middle><b>真的不想写</b></td>
		<td align="left"><br></td>
		<td  align="left"><br></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" height="28" align="center" valign=middle><b>缴费月份</b></td>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" colspan=3 align="center" valign=middle sdval="201707" sdnum="2052;"><b><%= my $zjq %></b></td>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" align="center" valign=middle><b>缴费金额</b></td>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" colspan=2 align="center" valign=middle sdval="532337.94" sdnum="2052;0;#,##0.00"><b><%= $hj %></b></td>
		<td align="left"><br></td>
		<td align="left"><br></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" height="28" align="center" valign=middle><b>单位缴费比例</b></td>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" colspan=3 align="center" valign=middle sdval="0.19" sdnum="2052;0;0.00%"><b>19.00%</b></td>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" align="center" valign=middle><b>个人缴费比例</b></td>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" colspan=2 align="center" valign=middle sdval="0.08" sdnum="2052;0;0.00%"><b>8.00%</b></td>
		<td align="left"><br></td>
		<td  align="left"><br></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" height="41" align="center" valign=middle><b>款项内容</b></td>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" align="center" valign=middle><b>单位基数</b></td>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" align="center" valign=middle><b>个人基数</b></td>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" align="center" valign=middle><b>在职人数</b></td>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" align="center" valign=middle><b>单位缴纳</b></td>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" align="center" valign=middle><b>个人缴纳</b></td>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" align="center" valign=middle><b>小计</b></td>
		<td align="left"><br></td>
		<td  align="left"><br></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" height="28" align="center" valign=middle><b>养老保险</b></td>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" align="center" sdval="1971622" sdnum="2052;0;#,##0"><font face="Arial" size=3><%= my $dwjs %></font></td>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" align="center" sdval="1971622" sdnum="2052;0;#,##0"><font face="Arial" size=3><%= my $grjs %></font></td>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" align="center" sdval="590" sdnum="2052;0;#,##0"><font face="Arial" size=3><%= my $dyyzrs %> </font></td>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" align="center" sdval="374608.18" sdnum="2052;0;#,##0.00"><font face="Arial" size=3><%=  $dwdy %></font></td>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" align="center" sdval="157729.76" sdnum="2052;0;#,##0.00"><font face="Arial" size=3><%=  $grdy %></font></td>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" align="center" sdval="532337.94" sdnum="2052;0;#,##0.00"><font face="Arial" size=3><%= $hj %></font></td>
		<td align="left"><br></td>
		<td  align="left"><br></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" height="28" align="center" valign=middle><b><br></b></td>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" align="center" valign=middle><b><br></b></td>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" align="center" valign=middle><b><br></b></td>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" align="center" valign=middle><b><br></b></td>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" align="center" valign=middle><b><br></b></td>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" align="center" valign=middle><b><br></b></td>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" align="center" valign=middle><b><br></b></td>
		<td align="left"><br></td>
		<td  align="left"><br></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" height="28" align="center" valign=middle><b><br></b></td>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" align="center" valign=middle><b><br></b></td>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" align="center" valign=middle><b><br></b></td>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" align="center" valign=middle><b><br></b></td>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" align="center" valign=middle><b><br></b></td>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" align="center" valign=middle><b><br></b></td>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" align="center" valign=middle><b><br></b></td>
		<td align="left"><br></td>
		<td colspan=2 align="left"><br></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" height="28" align="center" valign=middle><b><br></b></td>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" align="center" valign=middle><b><br></b></td>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" align="center" valign=middle><b><br></b></td>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" align="center" valign=middle><b><br></b></td>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" align="center" valign=middle><b><br></b></td>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" align="center" valign=middle><b><br></b></td>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" align="center" valign=middle><b><br></b></td>
		<td align="left"><br></td>
		<td  align="left"><br></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" height="28" align="center" valign=middle><b><br></b></td>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" align="center" valign=middle><b><br></b></td>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" align="center" valign=middle><b><br></b></td>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" align="center" valign=middle><b><br></b></td>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" align="center" valign=middle><b><br></b></td>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" align="center" valign=middle><b><br></b></td>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" align="center" valign=middle><b><br></b></td>
		<td align="left"><br></td>
		<td  align="left"><br></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" height="28" align="center" valign=middle><b>合计（大写）</b></td>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" colspan=6 align="center" valign=middle sdnum="2052;2052;[DBNum2][$-804]General"><b>伍拾叁万贰千叁佰叁拾柒圆玖角肆分</b></td>
		<td align="left"><br></td>
		<td colspan=2 align="left"><br></td>
	</tr>
	<tr>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" height="28" align="center" valign=middle><b>备注：</b></td>
		<td style="border-top: 1px solid #2e3436; border-bottom: 1px solid #2e3436; border-left: 1px solid #2e3436; border-right: 1px solid #2e3436" colspan=6 align="center" valign=middle><b>无</b></td>
		<td align="left"><br></td>
		<td align="left"><br></td>
	</tr>
	<tr>
		<td colspan=7 height="25" align="left"><b>单位全称：河南省南阳油田社会保险管理局    帐号：1714028509049088885     开户行：工行油支</b></td>
		<td align="left"><br></td>
		<td  align="left"><br></td>
		
	</tr>
</table>
</div>
<input id="btnPrint" type="button" value="打印文本区域"></input>
<script>
	$("#btnPrint").click(function(){ 
			$("#tab_content").print({
				globalStyles: true,
				mediaPrint: true,
				stylesheet: null,
				noPrintSelector: ".no-print",
				iframe: true,
				append: null,
				prepend: null,
				manuallyCopyFormValues: true,
				deferred: $.Deferred(),
				timeout: 750,
				title: null,
				doctype: '<!doctype html>'
			});
			/*$("#tab_content").printThis();*/
		});
</script>

